<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IconMapper">
  <select id="shopList" resultType="com.kh.questrip.icon.vo.IconVo">
	SELECT 
		I.NO
		, I.TITLE
		, I.PRICE
		, I.PHOTO
		, I.DEL_YN
	FROM ICON I
	WHERE I.NO NOT IN (
	    SELECT MI.ICON_NO
	    FROM MEMBER_ICON MI
	    WHERE MI.MEMBER_NO = #{memberNo}
	)
  </select>
  
  
  <select id="shopPageList" resultType="com.kh.questrip.icon.vo.IconVo">
	SELECT 
		I.NO
		, I.TITLE
		, I.PRICE
		, I.PHOTO
		, I.DEL_YN
	FROM ICON I
	WHERE I.NO NOT IN (
	    SELECT 
	    	MI.ICON_NO
	    FROM MEMBER_ICON MI
	    WHERE MI.MEMBER_NO = #{memberNo}
	)
	OFFSET #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
  </select>
  
  <select id="myIconAll" resultType="com.kh.questrip.icon.vo.IconVo">
	SELECT 
		I.NO
		, I.TITLE
		, I.PRICE
		, I.PHOTO
		, I.DEL_YN
	FROM ICON I
	JOIN MEMBER_ICON MI ON I.NO = MI.ICON_NO
	WHERE MI.MEMBER_NO = #{memberNo}
  </select>
  
  <select id="pageMyIcon" resultType="com.kh.questrip.icon.vo.IconVo">
	SELECT 
		I.NO
		, I.TITLE
		, I.PRICE
		, I.PHOTO
		, I.DEL_YN
	FROM ICON I
	JOIN MEMBER_ICON MI ON I.NO = MI.ICON_NO
	WHERE MI.MEMBER_NO = #{memberNo}
	OFFSET #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
  </select>
  
  <update id="update">
	UPDATE MEMBER
	SET 
		ICON_NO = #{iconNo}
	WHERE NO = #{memberNo}
  </update>
 
  <update id="memberPointUpdate">
  	UPDATE MEMBER
	SET POINT = POINT - (
	    SELECT PRICE
	    FROM ICON
	    WHERE NO = #{iconNo}
	    ),
	    ACCUMULATE = ACCUMULATE + (
	    SELECT PRICE
	    FROM ICON
	    WHERE NO = #{iconNo}
	    )
	WHERE NO = #{memberNo}
	AND POINT >= (
	    SELECT PRICE
	    FROM ICON
	    WHERE NO = #{iconNo}
	)
  </update>
  
  <insert id="pointInsert">
		INSERT INTO POINT (
			NO
			, MEMBER_NO
			, EOE
			, GET_POINT
			, SOURCE
			, CHANGES
			)
		VALUES (
    		SEQ_POINT_NO.NEXTVAL
    		, #{memberNo}
    		, 'E'
    		, (SELECT PRICE FROM ICON WHERE NO = #{iconNo})
    		, (SELECT TITLE FROM ICON WHERE NO = #{iconNo})
    		, (SELECT POINT FROM MEMBER WHERE NO = #{memberNo })
    	)
  </insert>
  
  <insert id="memberIconInsert">
  	INSERT INTO MEMBER_ICON (
	    MEMBER_NO
	    , ICON_NO)
	VALUES (
	    #{memberNo}
	    , #{iconNo}
	)
  </insert>
  
  <select id="getIconPhoto" resultType="com.kh.questrip.icon.vo.IconVo">
  	SELECT 
  		I.NO,
  		I.PHOTO
	FROM ICON I
	JOIN MEMBER M ON M.ICON_NO = I.NO
	WHERE M.NO = #{no}
  </select>
  
  <select id="listAll" resultType="com.kh.questrip.icon.vo.IconVo">
  	SELECT
  		NO
  		, TITLE
  		, PRICE
  		, PHOTO
  		, DEL_YN
  	FROM ICON
  	WHERE DEL_YN = 'N'
  </select>
  
  <insert id="insert">
  	INSERT INTO ICON (
  		NO
  		, TITLE
  		, PRICE
  		, PHOTO
  	)
  	VALUES (
  		SEQ_ICON_NO.NEXTVAL
  		, #{title}
  		, #{price}
  		, #{photo}
  	)
  		
  </insert>
</mapper>