<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

<insert id="join">
	INSERT INTO MEMBER (
	    NO
	    , MEMBER_TITLE_NO
	    , NICK
	    , ICON_NO
	    , ID
	    , PWD
	    , EMAIL
	    , POINT
	    ) 
	VALUES (
	    SEQ_MEMBER_NO.NEXTVAL
	    , 1	
	    , #{nick}
	    , 1
	    , #{id}
	    , #{pwd}
	    , #{email}
	    , 500
	    )
</insert>
	
<select id="login" resultType="com.kh.questrip.member.vo.MemberVo">
	
	SELECT
	    M.NO,
	    M.MEMBER_TITLE_NO,
	    MT.TITLE AS MEMBER_TITLE,
	    M.ICON_NO,
	    M.ID,
	    M.PWD,
	    M.NICK,
	    M.EMAIL,
	    M.POINT,
	    M.ENROLL_DATE,
	    M.DEL_YN,
	    i.PHOTO
	FROM
	    MEMBER M
	JOIN
	    ICON i ON M.ICON_NO = i.NO
    LEFT JOIN MEMBER_TITLE MT ON M.MEMBER_TITLE_NO = MT.NO
    WHERE 
	    M.DEL_YN = 'N'
	<if test="no ==null || no == ''">
		AND M.ID = #{id}
	    AND M.PWD = #{pwd}
	</if>

	<if test="no !=null and no != ''">
		AND M.NO = #{no}
	</if>
</select>

<update id="edit">
	UPDATE MEMBER SET
		NICK = #{nick},
		PWD = #{pwd}
	WHERE NO = #{no}
</update>


<select id="dupCheck" resultType="Integer">
	SELECT
		COUNT(*) AS count
	FROM MEMBER
	WHERE 
	DEL_YN = 'N'
	<if test="id != null and id != ''">
		AND ID = #{id}
	</if>
	<if test="nick != null and nick != ''">
		AND NICK = #{nick}
	</if>
	
</select>

<select id="list" resultType="Integer">
	SELECT
	    	COUNT(NO) AS CNT
	    
		FROM 
		    MEMBER
		
</select>
	
	

<select id="pageList" resultType="com.kh.questrip.member.vo.PointVo">
  		
	  	SELECT
		    M.NO AS "NO",
		    P.GET_POINT,
		    P.EOE,
		    P.SOURCE,
		    P.CHANGES,
		    TO_CHAR(P.ENROLL_DATE, 'YYYY/MM/DD HH24:MI') AS ENROLL_DATE
		FROM
		    POINT P
		JOIN
		    MEMBER M ON P.MEMBER_NO = M.NO
		WHERE
		    M.NO = #{memberNo} 
		GROUP BY
		    M.NO, P.GET_POINT, P.EOE, P.SOURCE, P.CHANGES, P.ENROLL_DATE
		ORDER BY
		    P.ENROLL_DATE DESC
		OFFSET
		    #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
</select>

<select id="memberPageList" resultType="com.kh.questrip.member.vo.MemberVo">
  		
	  	SELECT
		    M.NO,
		    M.NICK,
		    MT.TITLE AS TITLE_NAME,
		    I.TITLE AS ICON_NAME,
		    M.EMAIL,
		    M.POINT,
		    TO_CHAR(M.ENROLL_DATE, 'YYYY/MM/DD HH24:MI') AS ENROLL_DATE,
		    M.DEL_YN
		FROM
		    MEMBER M
		JOIN
			ICON I ON M.ICON_NO = I.NO
		JOIN
			MEMBER_TITLE MT ON M.MEMBER_TITLE_NO = MT.NO
		GROUP BY
		    M.NO,
		    M.NICK,
		    MT.TITLE,
		    I.TITLE,
		    M.EMAIL,
		    M.POINT,
		    M.ENROLL_DATE,
		    M.DEL_YN
		ORDER BY
		    M.ENROLL_DATE DESC
		OFFSET
		    #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
</select>



<select id="point" resultType="Integer">
		SELECT
	    	COUNT(NO) AS CNT
	    
		FROM 
		    POINT
		
		WHERE 
	    	MEMBER_NO = #{memberNo}
	</select>
	
	<select id="findMaxNo" resultType="Integer">
	  	SELECT MAX(NO) AS MEMBER_NO 
	  	FROM MEMBER
  	</select>
	  
  	<insert id="insertIcon" parameterType="int">
	  	INSERT INTO
	  		MEMBER_ICON
	  	(
	  		MEMBER_NO,
	  		ICON_NO
	  	)
	  	VALUES
	  	(
	  		#{memberNo},
	  		1
	  	)
	</insert>



</mapper>