<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestMapper">

	<select id="allList" resultType="com.kh.questrip.quest.vo.QuestVo">
		SELECT 
		    Q.NO, 
		    Q.QUE_CATE_NO , 
		    Q.LOC_CATE_NO ,
		    Q.TITLE, 
		    Q.CONTENT, 
		    Q.POINT, 
		    TO_CHAR(Q.ENROLL_DATE, 'YYYY/MM/DD HH24:MI') AS ENROLL_DATE, 
		    Q.IMG_PATH, 
		    Q.LATITUDE, 
		    Q.LONGITUDE, 
		    Q.DEL_YN,
		    Q.HEAD_CNT,
		    ROUND(AVG(CQ.RATE), 2) AS RATING
<!--             COUNT(CQ.RATE) AS RATE_CNT -->
		FROM QUEST Q
		LEFT JOIN COM_QUEST CQ ON Q.NO = CQ.QUEST_NO
		WHERE 
			Q.DEL_YN = 'N' 
				<if test="locCateNo !=null and locCateNo != '' ">
					AND Q.LOC_CATE_NO = #{locCateNo}
				</if>
				
				<if test="title != null and title != '' ">	
					AND Q.TITLE = #{title}
				</if>
				
				<if test="point != null and point != '' ">	
					AND Q.POINT >= #{point}
				</if>
				
				<if test="headCnt != null and headCnt != '' ">	
					AND Q.HEAD_CNT = #{headCnt}
				</if>
				
				<if test="queCateNo != null and queCateNo != '' ">	
					AND QUE_CATE_NO = #{queCateNo}
				</if>
				
		GROUP BY Q.NO, Q.QUE_CATE_NO ,Q.LOC_CATE_NO , Q.TITLE, Q.CONTENT, Q.POINT, Q.ENROLL_DATE, Q.IMG_PATH, Q.LATITUDE, Q.LONGITUDE, Q.HEAD_CNT,Q.DEL_YN
		ORDER BY RATING DESC
	</select>
	
	<select id="pageList" resultType="com.kh.questrip.quest.vo.QuestVo">
		SELECT 
		    Q.NO, 
		    Q.QUE_CATE_NO , 
		    QC.NAME AS CATEGORY_NAME,
		    Q.LOC_CATE_NO ,
		    Q.TITLE, 
		    Q.CONTENT, 
		    Q.POINT, 
		    TO_CHAR(Q.ENROLL_DATE, 'YYYY/MM/DD HH24:MI') AS ENROLL_DATE, 
		    Q.IMG_PATH, 
		    Q.LATITUDE, 
		    Q.LONGITUDE, 
		    Q.DEL_YN,
		    Q.HEAD_CNT,
		    ROUND(AVG(CQ.RATE), 2) AS RATING
		FROM QUEST Q
		LEFT JOIN COM_QUEST CQ ON Q.NO = CQ.QUEST_NO
		LEFT JOIN QUEST_CATEGORY QC ON Q.QUE_CATE_NO = QC.NO
		WHERE 
		    Q.DEL_YN = 'N'       
		    <if test="locCateNo !=null and locCateNo != '' ">
		        AND Q.LOC_CATE_NO = #{locCateNo}
		    </if>
		    
		    <if test="title != null and title != '' "> 
		        AND Q.TITLE = #{title}
		    </if>
		    
		    <if test="point != null and point != '' "> 
		        AND Q.POINT >= #{point}
		    </if>
		    
		    <if test="headCnt != null and headCnt != '' "> 
		        AND Q.HEAD_CNT = #{headCnt}
		    </if>
		    
		    <if test="queCateNo != null and queCateNo != '' ">  
		        AND QUE_CATE_NO = #{queCateNo}
		    </if>
		GROUP BY Q.NO, Q.QUE_CATE_NO, QC.NAME, Q.LOC_CATE_NO, Q.TITLE, Q.CONTENT, Q.POINT, Q.ENROLL_DATE, Q.IMG_PATH, Q.LATITUDE, Q.LONGITUDE, Q.HEAD_CNT, Q.DEL_YN      
		ORDER BY 
		    CASE WHEN RATING IS NULL THEN 1 ELSE 0 END, -- NULL인 경우에는 맨 아래로
		    RATING DESC
		OFFSET #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="listAll" resultType="com.kh.questrip.quest.vo.QuestVo">
		SELECT
		    Q.NO,
		    Q.QUE_CATE_NO,
		    Q.LOC_CATE_NO,
		    Q.TITLE,
		    Q.CONTENT,
		    Q.POINT,
		    Q.DEL_YN,
		    TO_CHAR(Q.ENROLL_DATE, 'YYYY/MM/DD HH24:MI') AS ENROLL_DATE,
		    Q.IMG_PATH,
		    Q.LATITUDE,
		    Q.LONGITUDE,
		    Q.HIT,
		    Q.HEAD_CNT,
		    LC.NAME AS LOC_NAME,
		    QC.NAME AS QUE_NAME
		FROM
		    QUEST Q
		JOIN
		    LOCATE_CATEGORY LC ON Q.LOC_CATE_NO = LC.NO
		JOIN
		    QUEST_CATEGORY QC ON Q.QUE_CATE_NO = QC.NO
	</select>
	<insert id="insertQuest" useGeneratedKeys="true" keyProperty="questData.no">
    INSERT INTO QUEST (
    	NO
    	, QUE_CATE_NO
    	, LOC_CATE_NO
    	, TITLE
    	, CONTENT
    	, POINT
    	, DEL_YN
    	, ENROLL_DATE
    	, IMG_PATH
    	, LATITUDE
    	, LONGITUDE
    	, HIT
    	, HEAD_CNT
    	)
    VALUES (
    	SEQ_QUEST_NO.NEXTVAL
   	</insert>
   	<insert id="write">
		INSERT INTO QUEST
		(
		    NO
			,QUE_CATE_NO
			,LOC_CATE_NO
			,TITLE
			,CONTENT
			,POINT
			,IMG_PATH
			,LATITUDE
			,LONGITUDE
			,HEAD_CNT
		)
		VALUES
		(
		    SEQ_QUEST_NO.NEXTVAL
		    ,#{queCateNo}
			,#{locCateNo}
			,#{title}
			,#{content}
			,#{point}
			,#{imgPath}
			,#{latitude}
			,#{longitude}
			,#{headCnt}
		)
	</insert>
	
	<insert id="complete">
		INSERT INTO COM_QUEST (
			NO
		    , MEMBER_NO
		    , QUEST_NO
		    , RATE
		    , IMG_PATH
		    )
		VALUES
		    (
		    SEQ_COM_QUEST_NO.NEXTVAL
		    , #{memberNo}
		    , #{questNo}
		    , #{rate}
		    , #{imgPath}
		    )
		
	</insert>
	
	
	<select id="checkComplete" resultType="Integer">
		SELECT NVL(STATE, 0) AS RESULT_STATE
	    FROM COM_QUEST
	    WHERE MEMBER_NO = #{memberNo} AND QUEST_NO = #{questNo}
	</select>
</mapper>

